.component-container {
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 4%;
  margin: 0%;
  .underline-title {
    border-bottom: 1px solid currentColor;
    line-height: 2;
    margin-bottom: 2%;
    margin-top: 0%;
  }
  .select {
    margin-top: 0%;
    margin-bottom: 4%;
    width: 30%;
  }
  .textfield {
    margin-top: 4%;
    margin-bottom: 4%;
    width: 100%;
  }
  .button {
    margin-top: 4%;
    margin-bottom: 4%;
    width: 100%;
    background: $primaryColor;
    color: white;
    &:hover {
      background:$primaryColorHover;
    }
  }
}